* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/star.jpg);
    background-size: 100vw 100vh;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}

.nav-list ul li {
    display: inline-block;
    list-style: none;
    padding: 20px;
}

.nav-list ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

.nav-list ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ffff00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-list ul li:hover:after {
    width: 0%;
}

.donate-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-box {
    background-color: #483d8b;
    padding: 50px;
    box-shadow: 0 0 60px #000070;
    text-align: center;

}

h1 {
    font-family: 'Style Script', cursive;
    color: #ffffff;
}

.user-input {
    display: flex;
    color: #ffffff;
    justify-content: flex-start;
    margin-top: 15px;
    align-items: center;
}

.card-no {
    width: 35px;
    margin-right: 5px;
}

.guide {
    margin-right: 10px;
}

.date {
    width: 27px;
    text-align: center;
}

.cvv {
    width: 35px;
}

label i{
    font-size: 30px;
    margin-right: 10px;
    margin-left: 5px;
}

.submit-btn{
    margin-top: 20px;
    padding: 15px 30px 15px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    font-weight: 600;
    cursor: pointer;
    color: #483d8b;
    transition: 0.5s;
}

.submit-btn:hover {
    border: 2px solid #000070 ;
}

@media screen and (max-width: 420px){
    nav {
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 50px;
    }

    .nav-list ul li {
        padding-left: 3px;
    }

    .nav-list ul li a {
        font-size: 12px;
    }

    h1 {
        font-size: 26px;
    }

    .donate-content{
        width: 100%;
    }

    .guide {
        margin-right: 3px;
        font-size: 12px;
    }

    label i{
        font-size: 22px;
        margin-right: 2px;
        margin-left: 2px;
    }
}
@media only screen and (min-width: 421px) and (max-width:1400px) {
    nav {
        width: 100%;
        justify-content: flex-end;
    }

    .nav-list ul li {
        padding-left: 5px;
        margin-right: 5px;
    }

    .nav-list ul li a {
        font-size: 20px;
    }

    h1 {
        font-size: 48px;
    }

    .donate-content{
        margin-top: 100px;
        width: 100%;
    }

    .guide {
        margin-right: 13px;
        font-size: 24px;
    }

    label i{
        font-size: 45px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .card-no {
        width: 75px;
    }

    .date {
        width: 48px;
    }

    .cvv {
        width: 75px;
    }
    
    input {
        font-size: 30px;
    }
    
}