* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.title-style {
    font-family: 'Style Script', cursive;
}

.container {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns:  repeat(9, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav"
    ". . . header header header . . ."
    "picture1 picture1 picture2 picture2 article1 article1 article1 article1 article1"
    "picture3 picture3 picture4 picture4 article2 article2 article2 article2 article2"
    ". . suggest1 suggest1 suggest1 suggest1 suggest1 . ."
    ". . suggest2 suggest2 suggest2 suggest2 suggest2 . ."
    ". . author author author author author . ."
    "footer footer footer footer footer footer footer footer footer";
    align-items: center;
}

nav {
    grid-area: nav;
    background-image: url(../images/star.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}

.nav-list ul li {
    display: inline-block;
    list-style: none;
    padding: 20px;
}

.nav-list ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

.nav-list ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ffff00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-list ul li:hover:after {
    width: 0%;
}

.header {
    grid-area: header;
    text-align: center;
    font-size: 32px;
    margin: 20px;
}

.picture1 {
    grid-area: picture1;
    text-align: center;
}

.picture2 {
    grid-area: picture2;
    text-align: center;
}

.picture3 {
    grid-area: picture3;
    text-align: center;
}

.picture4 {
    grid-area: picture4;
    text-align: center;
}

.picture1 img,
.picture2 img,
.picture3 img,
.picture4 img {
    margin: 15px;
    width: 90%;
    box-shadow: 0 0 40px #00007070;
    border-radius: 20px;
}

.article1 {
    grid-area: article1;
    box-shadow: 0 0 20px #00000070;
    background-color: #efedf7;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

.article2 {
    grid-area: article2;
    box-shadow: 0 0 20px #00000070;
    background-color: #efedf7;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

.article1 h2,
.article2 h2 {
    margin-top: 10px;
    text-align: center;
}

.span1 {
    font-weight: bold;
}

.span2 {
    font-style: italic;
    text-decoration: underline;
}

.span3 {
    background-color: #00ff00;
}

.span4 {
    color: #ff0000;
}

.span5 {
    color: #00ff00;
    border: 1px solid #ff0000;
}

.span6 {
    color: #0000ff;
}

.suggest1 {
    grid-area: suggest1;
    text-align: center;
    margin: 20px;

}

.suggest2 {
    grid-area: suggest2;
    text-align: center;
    margin: 20px;
}

.button-style {
    width: 600px;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    background-color: #3399ff;
    border: none;
}

.button-style a{
    color: #ffffff;
    text-decoration: none;
}

.button-style:hover{
    width: 630px;
}

.author {
    grid-area: author;
    text-align: center;
    box-shadow: 0 0 20px #00007070;
    background-color: #98989830;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    margin: 20px;
}

.author:hover {
    box-shadow: 0 0 10px #008000;
}

.author p{
    color: #000000;
}

.author img{
    width: 20%;
    border-radius: 50%;
}

.contact {
    grid-area: footer;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin: 20px 0 0 0;
}

.contact h4 {
    font-size: 24px;
}

.contact p {
    font-size: 14px;
}

.social-media a {
    text-decoration: none;
    color: #000000;
}

@media only screen and (max-width: 420px){
    nav {
        width: 100;
        justify-content: flex-end;
        
    }
    
    .nav-list ul li {
        padding-left: 3px;
    }

    .nav-list ul li a {
        font-size: 12px;
    }

    .container {
        height: auto;
        grid-template-columns:  1fr;
        grid-template-rows:  auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "nav"
        "header"
        "picture1"
        "picture2"
        "article1"
        "picture3"
        "picture4"
        "article2"
        "suggest1"
        "suggest2"
        "author"
        "footer";
        grid-gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .picture1 img,
    .picture2 img,
    .picture3 img,
    .picture4 img {
        width:90%;
    }

    .header h1 {
        font-size: 40px;
        margin: 20px 0;
    }

    .article p {
        text-align: start;
        margin-left: 5px;
    }

    .button-style {
        width: 90%;
    }

    .button-style:hover {
        width: 93%;
    }

    .article1,
    .article2 {
        margin-right: 0px;
    }

}
@media  only screen and (min-width: 421px) and (max-width:1400px) {
    nav {
        width: 100%;
        justify-content: flex-end;
    }

    .nav-list ul li {
        padding-left: 5px;
        margin-right: 5px;
    }
    
    .nav-list ul li a {
        font-size: 20px;
    }

    .container {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "nav"
        "header"
        "picture1"
        "picture2"
        "article1"
        "picture3"
        "picture4"
        "article2"
        "suggest1"
        "suggest2"
        "author"
        "footer";
        grid-gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .header h1{
        margin-top: 20px;
        font-size: 75px;
    }

    .picture1 img,
    .picture2 img,
    .picture3 img,
    .picture4 img {
        width:90vw;
    }

    .article p {
        text-align: start;
        margin-left: 5px;
    }

    .button-style {
        width: 90%;
        margin: 15px 0;
        font-size: 18px;
    }

    .button-style:hover {
        width: 93%;
    }

    .author {
        margin-left: 10px;
    }

    .article p {
        font-size: 20px;
    }
    
}