.title-box {
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.title-style {
    font-family: 'Style Script', cursive;
}

.title-box h1 {
    font-size: 120px;
}

.title-box p {
    font-size: 36px;
    margin: 10px 0 40px;
}

.yellow-btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.yellow-btn:hover {
    background-color: #ffd900;
    border: 1px solid #ffd900;
}